<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .center-text {
            height: 3em;
            line-height: 3em;
            /*border: 1px solid;*/
        }

        .no-gutters {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<div class="row" style="background-color: black">
    <div class="col">
        <div class="container">
            <div class="center-text"><p class="text-white">
                <strong>admin@mail.ru</strong> with roles: ADMIN USER</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="container">
            <div class="center-text">
                <p class="text-secondary" style="text-align: right;">
                    <a href="/logout">Logout</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding: 20px">
    <div class="col-md-2 no-gutters" style="background-color: white">
        <div class="btn-group-vertical btn-block" role="group" style="display: block;">
            <a href="#" class="btn btn-primary btn-block" role="button">Admin</a>
            <a href="../user" class="btn btn-light btn-block" style="background: white" role="button">User</a>
        </div>
    </div>
    <div class="col-md-10" style="background-color: #f7f7f7">
        <div class="container">
            <h1>Admin panel</h1>
        </div>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="new.html">New User</a>
                </li>
            </ul>
        </div>
        <div style="padding: 10px">
            <h4>All users</h4>
        </div>
        <div>
            <table class="table table-hover" style="background-color: white" id="tablaArticulos">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="data-output">
                <!--  Здесь из файла-->
                </tbody>
            </table>
        </div>
    </div>

</div>


<!-- Модальное окно -->
<div class="modal fade" id="modelArticulo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <div class="modal-header">
                    <h4 class="modal-title">Edit user</h4>
                    <button class="close" data-dismiss="modal">x</button>
                </div>

                <div id="edit" style="background-color: white"
                     class="border border-0 text-center font-weight-bold align-bottom">


                    <!-- Из файла-->


                </div>


            </div>
            
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>

<script>
    $('#exampleModal').on('hidden.bs.modal', function (event) {
        location.reload();
    });

</script>

<script src="index.js"></script>
<script src="edit.js"></script>
<script src="delete.js"></script>
<!--<div th:each="user : ${user}">-->
<!--    <a th:href="@{/admin/{id}(id=${user.getId()})}"-->
<!--       th:text="${user.getId()+', '+user.getName() +', '+user.getName()+', ' + user.getAge()+user.getEmail()+user.getRoles()}">user</a>-->
<!--</div>-->
<!--<br/>-->
<!--<hr/>-->
<!--<a href="/admin/new">Create new user</a></br>-->
<!--<a href="/logout">LOGOUT</a>-->
<!--<h1>fffffffffffffffff</h1>-->

</body>
</html>