<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .center-text {
            height: 3em;
            line-height: 3em;
            /*border: 1px solid;*/
        }

        .no-gutters {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<div class="row" style="background-color: black">
    <div class="col">
        <div class="container">
            <div class="center-text"><p class="text-white">
                <strong>admin@mail.ru</strong> with roles: ADMIN USER</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="container">
            <div class="center-text">
                <p class="text-secondary" style="text-align: right;">
                    <a href="/logout">Logout</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding: 20px">
    <div class="col-md-2 no-gutters" style="background-color: white">
        <div class="btn-group-vertical btn-block" role="group" style="display: block;">
            <a href="#" class="btn btn-primary btn-block" role="button">Admin</a>
            <a href="#" class="btn btn-light btn-block" style="background: white" role="button">User</a>
        </div>
    </div>
    <div class="col-md-10" style="background-color: #f7f7f7">
        <div class="container">
            <h1>Admin panel</h1>
        </div>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">New User</a>
                </li>
            </ul>
        </div>
        <div style="padding: 10px" class="border border-2">
            <h4>Add new user</h4>
        </div>
        <div style="background-color: white" class="border border-2 text-center font-weight-bold align-bottom">
            <div>
                <form role="form" th:method="POST" th:action="@{/admin}" th:object="${user}">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm">
                            </div>
                            <div class="col-sm">
                                <label for="name" class="pt-3">First name</label>
                                <input class="form-control" type="text" th:field="*{name}" id="name"
                                       style="background-color: lightyellow">
                                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                                    Error
                                </div>

                                <label for="username" class="pt-3">Last-name</label>
                                <input class="form-control" type="text" th:field="*{username}" id="username"
                                       style="background-color: lightyellow">
                                <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                                    username Error
                                </div>

                                <label for="age" class="pt-3">Age</label>
                                <input class="form-control" type="text" th:field="*{age}" id="age">
                                <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age
                                    Error
                                </div>

                                <label for="email" class="pt-3">Email</label>
                                <input class="form-control" type="text" th:field="*{email}" id="email"
                                       style="background-color: lightyellow">
                                <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                                    Error
                                </div>

                                <label for="password" class="pt-3">Password</label>
                                <input class="form-control" type="text" th:field="*{password}" id="password">
                                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                    password Error
                                </div>

                                <label for="role" class="pt-3">Role</label>
                                <select multiple name="listRoles" required="required" class="form-control" id="role">
                                    <option
                                            th:field="*{roles}"
                                            th:each="i : ${#numbers.sequence(1, role.size()-1)}"
                                            th:value="${i}"
                                            th:text="${role[i]}"
                                            th:selected="${i==1}">
                                    </option>
                                </select>

                                <div style="padding: 20px">
                                    <input type="submit" value="Add new user" class="btn btn-success"/>
                                </div>
                            </div>
                            <div class="col-sm">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>