<!DOCTYPE html>
<html>
    <head>
        <title>
            Тест
        </title>
    </head>
    <body>
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>userId</th>
                    <th>Id</th>
                    <th>title</th>
                    <th>complected</th>
                </tr>
            </thead>
            <tbody id="data-output">
                
            </tbody>
        </table>
        <script src="test.js"></script>
    </body>
</html>